!!!
%html
  %head
  %body

.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to groups_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        sample
      %li.main-header__left-box__member-list
        Member : sample
      %li.main-header__left-box__member-list__member sample
    %a{:href => "/groups/edit"}
      .main-header__edit-btn Edit

  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker sample
        %p.message__upper-info__date 2019/10/28(Mon) 20:45:34
      %p.message__text chat-space

  .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
